
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/* Declaracao geral */
:root
    {
    --azulC: #0073EA;
    --azulM: #405189;
    --azulE: #2C2E3E;
    --branco: #FFFFFF;
    --preto: #000000;
    --verde: #07f60b;
    --vermelho: #f60707;
    --cinza: #2C2E3E;
    --cinzaclaro: #7C7C7C;

    --font1: 'Titillium Web', sans-serif;
    --font2: 'Righteous', cursive;
    }



/* body */
body
    {
        position: relative;
        min-height: 100vh;
        width: 100%;
    }
/* body */


/* header */
/* configura o cabecalho */
.menu_sup
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100vw; /*define a largura da faixa azul em 100% da tela */
        height: 12vh; /*define a altura da faixa azul em 12% da tela */
        padding-left: 15vh; /*define uma margem para receber o menu hamburgue */        
        background: var(--azulM) 
    }

.logo img
    {
        display: flex;
        justify-content: space-between;       
        align-items: center; /*centraliza o logo na altura*/
        width: 20vw; /*define a largura da faixa azul em 100% da tela */
        height: 10vh; /*define a altura da faixa azul em 10% da tela */
    }


/* configura o campo de busca */
#divBusca
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color:var(--branco);
        border:solid 1px;
        border-radius:15px;
        width: 18vw; /*define a largura do campo de busca em 18%*/
        height: 5vh; /*define a altura do campo de busca em 5%*/        
     
    }
 
/* configura o texto do usuario logado */
.usuario
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        text-transform: capitalize;
        color: var(--branco);
        padding-right: 10vh; /*define uma margem para receber o menu hamburgue */  
    }

.fotoLogado
    {
     
    }    


.setaLogado
    {
        padding-left: 2vh; /*define uma margem para distanciar a seta do texto */   
    } 

/* header */
/* Main */
/* define os recuo dentro da area da main */
main
    { 
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    }

/* posiciona o texto "administrador/cadastro" e 
"pessoal/corporativo/conclusao* na mesma linha*/
.linha_sup_status
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
        font-size: 20px;
     }


/* posiciona o texto "administrador/cadastro" */    
.linha_sup_esq
     {
         text-transform: capitalize;
         border-radius: 10px;      
         
         display: flex;            
         color: var(--cinzaclaro);
         font-size: 20px;

        /* display: flex;
         justify-content: space-evenly;*/

         padding: 10px;
         padding-top: 6px;
         /*flex-direction: row-reverse;     */ 
     }

     
/* posiciona o texto "pessoal/corporativo/conclusao" na mesma linha*/
.linha_sup_dir 
     {
         text-transform: capitalize;
         border-radius: 5px;
         font-size: 20px;
         border: 1px solid var(--cinzaclaro);
         display: flex;
         margin: 10px;
        /* justify-content: flex-end;*/
     }


/* Main */
/* texto 1 "pessoal/corporativo/conclusao" */     
.semDestaque1
    {
        padding: 1vw;
    }
/* texto 2 "pessoal/corporativo/conclusao" */
.semDestaque2
    {
        padding: 1vw;
    }
/* coloca o texto em destaque "pessoal/corporativo/conclusao" */     
.comDestaque
    {
        background-color: var(--azulM);
        border-radius: 7%;
        padding: 1vw;
        color:var(--branco);
    }


/* Main */
/* Formulario */
.formulario
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 20px;
        width: 300px;
        
        border-top: 10px solid var(--azulC);
        border-bottom: 10px solid var(--azulC);
        border-left: 2px solid var(--cinzaclaro);
        border-right:  2px solid var(--cinzaclaro);
        justify-content: center;
        border-radius: 10px;
    }

.formulario button
    {
        margin: 30px;
        border-radius: 5px;
        font-size: 20px;
        color: var(--branco);
        background-color: var(--azulM); 
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 40%;
        display: flex;
        text-transform: capitalize;
        font-weight: bold;
    }

.salvar
    {
        color: var(--branco);
        text-transform: capitalize;
    }

.label_mail
   {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        color: var(--branco);
   }

.label_mail label 
   {
        color: var(--cinzaclaro);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
   }

.label_mail input 
   {
        height: 30px;
        width: 250px;
        border-radius: 7px;
        border: solid 1px;
        text-indent: 5px;
        font-size: 15px;
        color: var(--cinzaclaro);
   }
   



/* Main */
/* Quando a resolução for menor que 820px esconde o campo de busca */
@media screen and (max-width: 820px) 
{
    /* HEADER */
    .menu_sup
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100vw; /*define a largura da faixa azul em 100% da tela */
        height: 12vh; /*define a altura da faixa azul em 12% da tela */
        padding-left: 15vh; /*define uma margem para receber o menu hamburgue */        
        background: var(--azulM) 
    }
            
    /* HEADER */       
    .logo img
    {
        display: flex;
        justify-content: space-between;       
        align-items: center; /*centraliza o logo na altura*/
        width: 30vw; /*define a largura da faixa azul em 30% da tela */
        height: 8vh; /*define a altura da faixa azul em 8% da tela */
    }


    /* HEADER */
    .nomeLogado
    {
        position: absolute;
        left: -300px;
        overflow-x: hidden;
    }

    /* HEADER */
    .setaLogado 
    {
        position: absolute;
        left: -300px;
        overflow-x: hidden;          
    }

    /* MAIN */    
    .subMenu1
    {
    /* esconde o texto "administrador/cadastro" */     
        position: absolute;
        left: -300px;
        overflow-x: hidden;      
    }

    /* Main */

    /* texto 1 "pessoal" esconde o texto */     
    .semDestaque1
    {
    /* esconde o texto "pessoal/" */     
        position: absolute;
        left: -300px;
        overflow-x: hidden; 
    }

}



/* MAIN */
@media screen and (min-width: 820px)  /* mostra quando a resolução estiver acima de 820px */ 
{
    /* esconde o texto "/cadastro" */ 
    .subMenu2
    {
        position: absolute;
        left: -300px;
        overflow-x: hidden;      
    }

}

 


/* Quando a resolução for menor que 760px esconde o campo de busca */
@media screen and (max-width: 760px) 
{

/* HEADER */ 
    #divBusca
    {
        position: absolute;
        left: -300px;
        overflow-x: hidden;
    }

    /* texto 2 "conclusão" esconde o texto */ 
    .semDestaque2
    {
        position: absolute;
        left: -300px;
        overflow-x: hidden; 
    }

}


/* Quando a resolução for menor que 408px esconde o campo de busca */
@media screen and (max-width: 408px) 
{
    /* HEADER */
    .menu_sup
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:110vw; /*define a largura da faixa azul em 100% da tela */
        height: 13vh; /*define a altura da faixa azul em 12% da tela */
        padding-left: 15vh; /*define uma margem para receber o menu hamburgue */        
        background: var(--azulM) 
    }

}


/* Quando a resolução for menor que 408px esconde o campo de busca */
@media screen and (max-width: 370px) 
{
    /* HEADER */
    .menu_sup
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:120vw; /*define a largura da faixa azul em 120% da tela */
        height: 14vh; /*define a altura da faixa azul em 14% da tela */
        padding-left: 15vh; /*define uma margem para receber o menu hamburgue */        
        background: var(--azulM) 
    }
}